*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing:border-box;
}
.container {
  height: 25em;
  width:25em;
  position:absolute;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  border-radius: 50%;
  overflow:hidden;
  /* animation: spin 10s infinite ; */
}
@keyframes spin {
  100% {
    transform: rotate(360deg)
  }
}
.container:before {
  position:absolute;
  content:"";
  height:100%;
  width:100%;
  background-color: black;
  border-radius: 50%;
  opacity:0.5;
}
.container:after {
  position: absolute;
  content:"";
  height:90%;
  width:90%;
  background-color: #ffffff;
  top:6%;
  left:5%;
  border-radius: 50%;
  background-image: url('images/profile-pic.avif');
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position:left 45px top -700px bottom 600px;
}
.container div {
  position: absolute;
  border-radius: 50%;
  z-index:-1;
  animation: scale-up infinite; 
}
@keyframes scale-up {
  50% {
    transform:scale(1.8);
  }
}
.container div:nth-child(1){
  height:90%;
  width:100%;
  background-color: #ff057c;
  left:-5%;
  top:-5%;
  animation-duration:2s;
  animation-delay:3s;
}
.container div:nth-child(2){
  height:80%;
  width:70%;
  background-color: #800f86;
  top:15%;
  right:-15%;
  animation-duration:10s;
  animation-delay:7s;
}
.container div:nth-child(3){
  height:65%;
  width:80%;
  background-color: #1ba8e9;
  bottom:-30%;
  right:20%;
  animation-duration:4s;
  animation-delay:2.2s;
}
.container div:nth-child(3){
  height:65%;
  width:80%;
  background-color: #1ba8e9;
  bottom:-30%;
  right:-20%;
  animation-duration:4s;
  animation-delay:2.2;
}
.container div:nth-child(4){
  height:50%;
  width:75%;
  background-color: #34ff78;
  bottom:5%;
  right:8%;
  animation-duration:7s;
  animation-delay:6s;
}
.container div:nth-child(5){
  height:45%;
  width:55%;
  background-color: #f7fb1f;
  top:50%;
  left:0;
  animation-duration:2.5s;
  animation-delay:4s;
}
.container div:nth-child(6){
  height:25%;
  width:55%;
  background-color: #ffb326;
  top:45%;
  left:-15%;
  animation-duration:9s;
}
