/*Common Styles*/
* {
    margin: 0;
    padding: 0;
    font-family: "Vollkorn",serif;
    list-style-type: none;
    text-decoration:none;
    box-sizing: border-box;
    outline:none;
}
html {
    font-size:62.5%; /* Default is 16px ;so, it becomes 10px */
}
.root {
    --primary-color:#2b81e4;
    --secondary-color:#eee;
    --white-color:#fff;
    --grey-color:#555;
    --light-grey-color:#777;
}
.center {
    display:flex;
    justify-content:center;
    align-items:center;
}
.container {
    background-color:#eee;
    margin: 3.5rem;
    box-shadow: 8rem 9rem #555;
    overflow:hidden;
}
/*End of Common Styles */
/* Navbar */
.navbar-icon {
  width: 5.5rem;
  height: 5.5rem;
  background-color: #eee;
  border-radius: 50%;
  cursor: pointer;
  flex-direction: column;
}
.open-navbar-icon {
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  z-index: 200;
}
.navbar-icon .line {
  height: 0.2rem;
  width: 3.5rem;
  background-color: #777;
}
.open-navbar-icon .line {
  margin: 0.3rem 0;
}
.navbar-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  position: fixed;
  left: 0;
  bottom: -100%;
  opacity: 0;
  z-index: 300;
  padding: 3.5rem 5.5rem 3.5rem 3.5rem;
  transition: bottom 0.5s, opacity 0.2s;
}
.changeMenu {
  bottom: 0;
  opacity: 1;
  transition: bottom 0.5s, opacity 0.2s 0.25s;
}
.navbar {
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url(images/navbar-bg.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  overflow-y: hidden;
}
.close-navbar-icon {
  position: absolute;
  top: 2.5rem;
  right: 3rem;
  z-index: 300;
}
.close-navbar-icon .line {
  position: absolute;
}
.line-1 {
  transform: rotate(40deg);
}
.line-2 {
  transform: rotate(-40deg);
}
.nav-list {
  width:100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.nav-link {
  font-size: 3rem;
  justify-content:center;
  align-items: center;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  opacity: 0.8;
  position: relative;
  top: 0%;  
  transition: all 0.3s;
}
.change .nav-link {
  top: 0;
}
.nav-link:hover {
  opacity: 1;
  color: #2b81e4;
}
/* End of navbar*/
/*Header */
.header {
    width: 100%;
    height:calc(100vh);
    background:linear-gradient(rgba(18,113,255,.5),rgba(18,113,255,.3)),url(images/header-bg.jpg) center no-repeat;
    background-size: cover;
}
.header-text {
    text-align:center;
    letter-spacing:0.1rem;
    text-shadow:0.3rem 0.5rem 3rem rgba(18,113,255,.5);
}
.header {
    font-size:2rem;
    color:#000;
    position: relative;
    perspective:100rem;
}
.header-paragraph {
    font-size: 3rem;
    font-weight:bold;
    color:#000;
    max-width:40rem;
    margin:auto;
}
.header-image {
    width:35%;
    animation: image-float 50s infinite;
}
.quote {
  margin: 0;
  background: #eee;
  padding: 1em;
  border-left:25px solid #428bca;
}
.logo {
    position:absolute;
    top:4rem;
    right:4rem;
}
.logo h1 {
    display:flex;
}
.logo h1 span {
    font-size:2rem;
    font-weight:900;
    color: #428bca;
    background-color: #eee;
    width:3.5rem;
    height:3.5rem;
    display: block;
    margin:.5rem;
    border-radius: 50%;
    text-align: center;
}
.logo h1 span:nth-child(1){
    /* animation-name:drop-letters;
    animation-duration:5s;
    animation-iteration-count:infinite;
    animation-delay: .1s; */
    animation:drop-letters 5s .1s infinite;
}
.logo h1 span:nth-child(2){
    animation:drop-letters 5s .2s infinite;
}
.logo h1 span:nth-child(3){
    animation:drop-letters 5s .3s infinite;
}
.logo h1 span:nth-child(4){
    animation:drop-letters 5s .4s infinite;
}
.logo h1 span:nth-child(5){
    animation:drop-letters 5s .5s infinite;
}
.logo h1 span:nth-child(6){
    animation:drop-letters 5s .6s infinite;
}
.logo h1 span:nth-child(7){
    animation:drop-letters 5s .7s infinite;
}
.logo h1 span:nth-child(8){
    animation:drop-letters 5s .8s infinite;
}
.logo h1 span:nth-child(9){
    animation:drop-letters 5s .9s infinite;
}
.logo h1 span:nth-child(10){
    animation:drop-letters 5s 1s infinite;
}
@keyframes drop-letters {
    0%{
        transform:translatey(0);
    }
    10%{
        transform:translatey(0);
    }
    15%{
        transform:translatey(-100%);
    }
    20%{
        transform:translatey(0%);
    }
    100%{
        transform:translatey(0%);
    }
}
@keyframes image-float {
    0%{
        transform:translateZ(40rem);/* 40*10 = 400px */
        opacity:1;
    }
    40%{
        transform:translateZ(-500rem)
        translateX(150rem); /*1500 */
        opacity:0.8;
    }
    70%{
        transform:translateZ(-1500rem)
        translateX(800rem);
        opacity:0.6;
    }
    80%{
        transform:translateZ(-50rem)
        translateX(100rem);
        opacity:0.8;
    }
    100%{
        transform:translateZ(40rem);
        opacity:1;
    }
}
/*End of Header*/
/* Work Experience */
.experiences {
    padding:10rem 0 10rem 0;
    /* padding:10rem 0; */
    margin: auto;
    position:relative;
}
.video-container {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity: 0.4;
    object-fit:cover;
}
.bg-video {
    width:100%;
    height:100%;
}
.experiences-wrapper {
    display:flex;
    flex-direction:column; 
    align-items: center; 
}
.experience-bg {
    background-color: rgba(238,238,238,0.85);
    padding:5rem; 
    margin:5rem;
    width:70%;
    box-shadow: 5px 5px 15px 0px rgba(0 ,0, 0, 0.3);
    /* box-shadow:20px 20px 20px 5px; */
    transform:skewX(20deg);
}
.experience {
    transform: skew(-20deg);
    display:flex;
}
.experience-image {
    width:20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5rem;
}
.experience-text {
    letter-spacing: 1rem;
}
.experience-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#777;
    margin-bottom: 1rem;
}
.experience-paragraph {
    font-size:1.8rem;
    color:#777;
}
.experience-paragraph::first-letter{
    margin-left: 1rem;
}
/* End of Work Experience */
/* Projects*/
.projects {
    padding:5rem 0 10rem 0;
}
.projects-heading {
    font-size:8rem;
    text-align:center;
    margin-bottom:8rem;
    color:#2b81e4;
    background-color: #eee;
    text-shadow:0.1rem 0.2rem #2b81e4; 
}
.cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}
.card {
    width: 35rem;
    position:relative;
    perspective: 150rem;
}
.card-image {
   width:100%;
   border-radius: .3rem .3rem 0 0; 
}
.front-side {
    text-align: center;
    background: #eee;
    border-radius:.3rem;
    position: relative;
    z-index:10;
    opacity: 0.9;
    transition:opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}
.change >.front-side {
  transform:translateZ(-5rem) translateX(3rem);
  box-shadow: 0.2rem 4rem 1rem #777;
  opacity:.5;
  z-index:0;
}
.change >.back-side {
  transform:translateZ(0) translateX(0);
  box-shadow: 0.5rem 2rem 1rem #aaa;
  opacity:.9;
}
.project-name{
    font-size: 2.5rem;
    font-weight:700;
    position: absolute;
    top:30%;
    left:1.5rem;
    color: #eee;
    text-shadow: 0 0 1rem #000;
}
.card-list {
    width:80%;
    margin:auto;
    padding:2rem 0 3rem  0;
}
.card-list-item {
    font-size: 1.6rem;
    font-weight: 500;
    color:#777;
    margin:2rem 0;
    border-bottom:0.1rem solid #2b81e4;
    padding:1.5rem;
}
.back-side {
    position:absolute;
    top:0;
    background-color: #2b81e4;
    width: 100%;
    height:100%;
    border-radius:0.3rem;
    box-shadow:0.2rem 0.4rem #777;
    flex-direction: row;
    transform: translateZ(-5rem) translateX(3rem);
    opacity:0;
    transition:opacity 0.4s, transform 0.4s, box-shadow 0.4s;
}
.project-details{
    font-size: 5rem;
    font-weight:500;
    color:#fff;
    margin-bottom:3rem;
}
.card-button {
    color: #2b81e4;
    background-color: #fff;
    border:none;   
    font-size:2.5rem;
    padding: 1rem 2rem;
    letter-spacing:.2rem;
    border-radius:5rem;
}
.navigation-button {
    position:absolute;
    top:0.5rem;
    left:0.5rem;
    padding:.5rem;
    background:rgba(255,255,255,.8) ;
    color:#777;
    border-radius:0.3rem;
    font-size:1.5rem;
    font-weight:600;
    text-transform:uppercase;
    letter-spacing: 0.2rem;
    cursor:pointer;
}
/*End of  Projects */
/* Educations */
.educations {
    margin-top: 10rem;
    position:relative;
    width:100%;
    height:100%;
}
.video-container {
    position:absolute;
    opacity: 0.4;
    object-fit:cover;
}
.bg-video {
    object-fit:cover;
}
.educations-wrapper {
    display:flex;
    flex-direction:column; 
    align-items: center; 
}
.education-bg {
    background-color: rgba(238,238,238,1);
    padding:5rem; 
    margin:5rem;
    width:70%;
    box-shadow: 5px 5px 15px 0px rgba(0 ,0, 0, 0.3);
    box-shadow:20px 20px 40px 5px;
    transform:skewX(20deg);
}
.education {
    transform: skew(-20deg);
    display:flex;
}
.education-image {
    width:20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5rem;
}
.education-text {
    letter-spacing: 1rem;
}
.education-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#777;
    margin-bottom: 1rem;
}
.education-paragraph {
    font-size:1.8rem;
    color:#777;
}
.education-paragraph::first-letter{
    margin-left: 1rem;
}
/* End of Education */
/* Work Experience */
.experiences {
    margin-top: 10rem;
    position:relative;
    width:100%;
    height:100%;
}
.experiences-heading {
    font-size:8rem;
    text-align:center;
    margin-bottom:8rem;
    background-color: #eee;
    text-shadow:0.1rem 0.2rem #2b81e4;
    text-shadow:0.1rem 0.2rem #2b81e4;
}
.video-container {
    position:absolute;
    opacity: 0.4;
    object-fit:cover;
}
.bg-video {
    object-fit:cover;
}
.experiences-wrapper {
    display:flex;
    flex-direction:column; 
    align-items: center; 
}
.experience-bg {
    background-color: rgba(238,238,238,0.9);
    padding:5rem; 
    margin:5rem;
    width:70%;
    box-shadow: 5px 5px 15px 0px rgba(0 ,0, 0, 0.3);
    box-shadow:20px 20px 40px 5px;
    transform:skewX(20deg);
}
.experience {
    transform: skew(-20deg);
    display:flex;
}
.experience-image {
    width:20rem;
    height: 20rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 5rem;
}
.experience-text {
    letter-spacing: 1rem;
}
.experience-heading {
    font-size: 2.5rem;
    text-transform: uppercase;
    color:#777;
    margin-bottom: 1rem;
}
.experience-paragraph {
    font-size:1.8rem;
    color:#777;
}
.experience-paragraph::first-letter{
    margin-left: 1rem;
}
/* End of Work Experience*/
/* contact */
.contact {
  padding: 15rem 0 20rem 0;
  text-align: center;
  background: url(images/contact-us-bg.png) center no-repeat;
  background-size: cover;
  animation: contact-bg 35s infinite;
}

.contact-heading {
  font-size: 7rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: #eee;
  text-shadow: 0 1rem 2rem #000;
  margin-bottom: 8rem;
}

.contact-form {
  width: 70rem;
  height: 50rem;
  background-color: rgba(255, 255, 255, 0.95);
  margin: auto;
  flex-direction: column;
  border-radius: 0.5rem;
  box-shadow: 0 1rem 3rem #000;
  padding: 5rem;
}
.input-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  position: relative;
}
.input-groups {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.input-groups .input-group {
  width: 48.5%;
}

.input-group input,
.input-group textarea {
  padding: 3rem 1rem 1rem 1rem;
  background-color: #eee;
  border: 0.1rem solid #eee;
  font-size: 1.4rem;
  color: #777;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  transition: border 0.3s;
}

.input-group input:focus,
.input-group textarea:focus {
  border: 0.1rem solid #ccc;
}

.input-group label {
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #555;
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.form-btn {
  width: 100%;
  padding: 1rem;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  margin-top: 1rem;
  background-color: #777;
  color: #fff;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s;
}

.form-btn:hover {
  background-color: #555;
}

.input-group textarea {
  max-height: 15rem;
  max-width: 100%;
}

@keyframes contact-bg {
  0% {
    background-color: #3d3d3d;
  }
  25% {
    background-color: #ced8e4;
  }
  50% {
    background-color: #1e81f3;
  }
  75% {
    background-color: #ff7842;
  }
  100% {
    background-color: #3d3d3d;
  }
}
/* end of contact */
/* Footer */
.footer {
  background-color: #555;
  padding: 4rem 0 2rem 0;
}

.footer-list {
  display: flex;
  justify-content: center;
}

.footer-link {
  font-size: 2rem;
  color: #fff;
  margin: 0 2rem;
  background-color: #555;
  padding: 0.3rem 3rem;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
}

.footer-link:hover {
  transform: rotate(-10deg);
  box-shadow: 0 2rem 3rem #000;
}

.footer-paragraph {
  text-align: center;
  font-size: 1.5rem;
  color: #eee;
  letter-spacing: 0.2rem;
  margin-top: 5rem;
}
/* End of Footer */
/* Media Query */
@media(max-width:1200px){
  .cards-wrapper {
    flex-direction:column;
    align-items:center;
  }
  .card {
    margin:0.3rem 0;
  }
  .education-bg {
    width:85%;
  }
}
@media(max-width:1000px){
  .nav-list {
    flex-direction:column;
  }
  .nav-link {
    flex-grow:1;
  }

}
/*End of Media Query */
